#main-header{
    height: 80px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    font-size:large;
    color: black !important;
    font-weight: bolder;
}.container {
    max-width: 80%;
    padding: 0px;
    margin: 0 auto;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
    
}
#main-header ul li{
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
    padding: 0 5px;
}
#logoName{
    font-size: 3em;
}
#main-header a{
    color: #fff !important;
}
body{
    background-color:#242F41!important;
    background-size: contain;
}
.card-text a{
    text-decoration: none !important;
    color:#fff !important;
}
.desconto {
    display: none;
}
.my-2 {
    min-width:200px;
}
.s {
    display: none !important;
}
h1{
    color:#fff;
}
.numero{
    margin: 5px !important;
    min-width: 43.25px;
    height: 38px;
}

p, h3, h2, li{
    color:#fff;
}
li{
    list-style: none;
}
h4{
    color:#E6770C;
}
.cardParticipar{
    background-color: #E6770C !important;
    border-color: #E6770C !important;
}
.selecionado{
    background-color: #89e163 !important;
    color:#fff !important;
}
.S{
    background-color: #89e163 !important;
    color:#fff !important;
    pointer-events: none;
            cursor: default;
}
.R{
    background-color: #31D2F2 !important;
    color:#fff !important;
    pointer-events: none;
            cursor: default;
}
.buttonCheckout{
    padding: 2px;
    margin: 2px;
}
.whatsCheckout{
    background-color: #01E675 !important;
    border-color: #01E675 !important;

}
.whatsCheckout a{
    text-decoration: none !important;
    color:#fff !important;
    font-size: 13px;
    text-transform:uppercase;
    font-weight:600;
}
.formReserva{
    min-width: 100%;
}
.submit a{
    text-decoration: none !important;
    color: #fff;
}
.preto{
    color: #000 !important;
}