#main-header{
    background-color:#89e163;
    height: 80px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    font-size:large;
    color: black !important;
    font-weight: bolder;
}.container {
    max-width: 80%;
    padding: 0px;
    margin: 0 auto;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
    
}
#main-header ul li{
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
    padding: 0 5px;
}
#logoName{
    font-size: 3em;
}
#main-header a{
    color: #000 !important;
}
body{
    background-image: url('../assets/screen_2x.jpg');
    background-size: contain;
}
.card-text a{
    text-decoration: none !important;
    color:#89e163 !important;
}
.desconto {
    display: none;
}
.my-2 {
    min-width:200px;
}
.s {
    display: none !important;
}
h1{
    color:#89e163;
}
.numero{
    margin: 5px !important;
}
.filtro{
    margin: 5px !important;
}
p, h3, h2, li{
    color:#89e163;
}
li{
    list-style: none;
}
.selecionado{
    background-color: #89e163 !important;
    color:#000 !important;
}